<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 기존 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- 다운로드를 위한 포그라운드 서비스 및 알림 권한 추가 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    
    <application
    android:name=".LilacApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LilacAnime"
        android:supportsRtl="true"
        android:theme="@style/Theme.LilacAnime">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 다운로드 백그라운드 서비스 등록 -->
        <service
            android:name=".LilacDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="androidx.media3.exoplayer.downloadService.action.RESTART" />
            </intent-filter>
        </service>
    </application>
</manifest>
